In [1]:
from sqlalchemy import create_engine
import streamlit as st
import pandas as pd


def upload_to_database(df):
    """
    Upload to a database.
    """
    #df = connect_to_database()
    engine = create_engine("mysql://ycardenas:1234Abc.@190.92.22.22/SolarDB")
    cnx = engine.connect()
    df.to_sql(name='Limitaciones_ODS',con=cnx,if_exists='replace',index=False)
    cnx.close()
    return None

#@st.cache(allow_output_mutation=True)
def connect_to_database():

    # ---- Connect to the database ----
    engine = create_engine("mysql://ycardenas:1234Abc.@190.92.22.22/SolarDB")
    cnx = engine.connect()

    # ---- Consulta a la base de datos ----
    frase = "SELECT * from Limitaciones_ODS"
    df= pd.read_sql_query(frase, cnx)
    cnx.close()
    return df

In [14]:
df= pd.read_csv("Limitaciones (21).csv")

In [15]:
engine = create_engine("mysql://ycardenas:1234Abc.@190.92.22.22/SolarDB")
cnx = engine.connect()
df.to_sql(name='Limitaciones_ODS',con=cnx,if_exists='replace',index=False)
cnx.close()

In [25]:
df2= pd.read_csv("Limitaciones (23).csv",sep='[;,:\s+]', engine='python')

In [24]:
df2.head()

,Fecha,Planta,Energía Vertida (MWh),Potencia M. Limitada (MW),Tiempo de Limitación (h),1,2,3,4,5,...,7,8,9,10,11,12,El Cajón - Nivel de Embalse (m.s.n.m.),Patuca III - Nivel del Embalse (m.s.n.m.),Monto Mensual ($),Monto Mensual Acumulado ($)
0,2020-01-01,Cerro de Hula,9.5000,10.0,0.9500,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1425.000,1425.000
1,2020-01-01,Cinco Estrellas,10.4500,11.0,0.9500,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1567.500,2992.500
2,2020-01-01,Cohessa,13.5000,15.0,0.9000,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,2025.000,5017.500
3,2020-01-01,Chinchayote,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.000,5017.500
4,2020-01-01,Choluteca 2,8.9833,5.3,1.7167,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1347.495,6364.995